#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

.read-the-docs {
  color: #888;
}

.aluno-info {
  margin-bottom: 1rem;
  margin-left: 2rem;
  align-self: center;
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.curso-info{
  margin-bottom: 1rem;
  margin-left: 2rem;
  align-self: center;
  width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.aluno-curso-info {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.sem_ponto {
  list-style-type: none;
  padding: 0;
}

.matriculas-pendentes {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.matricula-info {
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 0.5rem;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}